datasets/blended_MVS
modules/vggt/checkpoints/
modules/sam2/checkpoints
*.log
*.tmp
datasets/
outputs/
*.pt
*.pth
*.ckpt
*.bin
datasets/
*.z01
*.z*
modules/*/checkpoints/
outputs/datasets/
*.z01
*.z*
modules/*/checkpoints/
outputs/
__pycache__/
*.pyc
